<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.awok.moshin.awok" >

    <uses-sdk tools:overrideLibrary="com.liangfeizc.flowlayout" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/awok_logo"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->
        <activity
            android:name=".Activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.ProductDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.CountryPickerExample"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.FilterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.CheckOutActivity"
            android:label="Shopping Cart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.SubCategoriesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.ProductOptionsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.LauncherActivity"
            android:label="@string/title_activity_launcher"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activities.PaymentMethodActivity"
            android:label="@string/payment_method_activity"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.OrderSummaryActivity"
            android:label="@string/title_activity_order_summary"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="@string/title_activity_order_summary"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.ShippingMethodActivity"
            android:label="Shipping Method"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".Activities.FragmentFullScreenImage"
            android:label="@string/title_activity_order_summary" >
        </activity>
        <activity
            android:name=".Activities.OrderHistory"
            android:label="@string/title_activity_order_history" >
        </activity>
        <activity
            android:name=".Activities.OrderHistoryDetailsPage"
            android:label="@string/title_activity_order_history_details_page" >
        </activity>
        <activity
            android:name=".Fragments.ShippingDeliveryFrag"
            android:label="@string/title_activity_shipping_delivery_frag" >
        </activity>
        <activity
            android:name=".Activities.EditProfileActivity"
            android:label="@string/title_activity_shipping_delivery_frag" >
        </activity>
        <activity
            android:name=".Activities.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".Activities.CurrencySelectionActivity"
            android:label="@string/title_activity_currency_selection" >
        </activity>
        <activity
            android:name=".Activities.CurrencyPickActivity"
            android:label="@string/title_activity_currency_pick" >
        </activity>
        <activity
            android:name=".Activities.ShippingAddressActivity"
            android:label="@string/title_activity_shipping_address" >
        </activity>
        <activity
            android:name=".Activities.AddNewAddress"
            android:label="@string/title_activity_add_new_address"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.OrderSummaryFilter"
            android:label="@string/title_activity_order_summary_filter" >
        </activity>
        <activity
            android:name=".Activities.DisputeActivity"
            android:label="@string/title_activity_dispute"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activities.DisputeDetails"
            android:label="@string/title_activity_dispute_details" >
        </activity>
        <activity
            android:name=".Activities.ModifyDispute"
            android:label="@string/title_activity_modify_dispute" >
        </activity>
        <activity
            android:name=".Activities.DisputeList"
            android:label="@string/title_activity_dispute_list" >
        </activity>
        <activity
            android:name=".Activities.Main2Activity"
            android:label="@string/title_activity_main2" >
        </activity>
    </application>

</manifest>
